In [23]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from imblearn.over_sampling import SMOTE

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler, PolynomialFeatures

from sklearn.model_selection import GridSearchCV
from imblearn.over_sampling import SMOTE

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [24]:
#!pip install imblearn

In [25]:
pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', lambda x: '%.5f' % x)
pd.set_option('display.max_columns', None)

In [26]:
df = pd.read_csv('../files/playground-series-s4e6/train.csv')
df.head()

,id,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,Mother's occupation,Father's occupation,Admission grade,Displaced,Educational special needs,Debtor,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,International,Curricular units 1st sem (credited),Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0,1,1,1,9238,1,1,126.00000,1,1,19,5,5,122.60000,0,0,0,1,0,1,18,0,0,6,6,6,14.50000,0,0,6,7,6,12.42857,0,11.10000,0.60000,2.02000,Graduate
1,1,1,17,1,9238,1,1,125.00000,1,19,19,9,9,119.80000,1,0,0,1,0,0,18,0,0,6,8,4,11.60000,0,0,6,9,0,0.00000,0,11.10000,0.60000,2.02000,Dropout
2,2,1,17,2,9254,1,1,137.00000,1,3,19,2,3,144.70000,0,0,0,1,1,0,18,0,0,6,0,0,0.00000,0,0,6,0,0,0.00000,0,16.20000,0.30000,-0.92000,Dropout
3,3,1,1,3,9500,1,1,131.00000,1,19,3,3,2,126.10000,1,0,0,1,0,1,18,0,0,7,9,7,12.59125,0,0,8,11,7,12.82000,0,11.10000,0.60000,2.02000,Enrolled
4,4,1,1,2,9500,1,1,132.00000,1,19,37,4,9,120.10000,1,0,0,1,0,0,18,0,0,7,12,6,12.93333,0,0,7,12,6,12.93333,0,7.60000,2.60000,0.32000,Graduate

In [27]:
df.drop('id',axis=1, inplace=True)

df.columns = df.columns.str.replace(' ', '_')
df.columns = df.columns.str.replace('(', '')
df.columns = df.columns.str.replace(')', '')

df.columns = df.columns.str.replace('/', '_')
df.columns = df.columns.str.replace('-', '_')
df.columns = df.columns.str.replace("'", '_')

df.head()

,Marital_status,Application_mode,Application_order,Course,Daytime_evening_attendance,Previous_qualification,Previous_qualification_grade,Nacionality,Mother_s_qualification,Father_s_qualification,Mother_s_occupation,Father_s_occupation,Admission_grade,Displaced,Educational_special_needs,Debtor,Tuition_fees_up_to_date,Gender,Scholarship_holder,Age_at_enrollment,International,Curricular_units_1st_sem_credited,Curricular_units_1st_sem_enrolled,Curricular_units_1st_sem_evaluations,Curricular_units_1st_sem_approved,Curricular_units_1st_sem_grade,Curricular_units_1st_sem_without_evaluations,Curricular_units_2nd_sem_credited,Curricular_units_2nd_sem_enrolled,Curricular_units_2nd_sem_evaluations,Curricular_units_2nd_sem_approved,Curricular_units_2nd_sem_grade,Curricular_units_2nd_sem_without_evaluations,Unemployment_rate,Inflation_rate,GDP,Target
0,1,1,1,9238,1,1,126.00000,1,1,19,5,5,122.60000,0,0,0,1,0,1,18,0,0,6,6,6,14.50000,0,0,6,7,6,12.42857,0,11.10000,0.60000,2.02000,Graduate
1,1,17,1,9238,1,1,125.00000,1,19,19,9,9,119.80000,1,0,0,1,0,0,18,0,0,6,8,4,11.60000,0,0,6,9,0,0.00000,0,11.10000,0.60000,2.02000,Dropout
2,1,17,2,9254,1,1,137.00000,1,3,19,2,3,144.70000,0,0,0,1,1,0,18,0,0,6,0,0,0.00000,0,0,6,0,0,0.00000,0,16.20000,0.30000,-0.92000,Dropout
3,1,1,3,9500,1,1,131.00000,1,19,3,3,2,126.10000,1,0,0,1,0,1,18,0,0,7,9,7,12.59125,0,0,8,11,7,12.82000,0,11.10000,0.60000,2.02000,Enrolled
4,1,1,2,9500,1,1,132.00000,1,19,37,4,9,120.10000,1,0,0,1,0,0,18,0,0,7,12,6,12.93333,0,0,7,12,6,12.93333,0,7.60000,2.60000,0.32000,Graduate

In [28]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76518 entries, 0 to 76517
Data columns (total 37 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Marital_status                                76518 non-null  int64
 1   Application_mode                              76518 non-null  int64
 2   Application_order                             76518 non-null  int64
 3   Course                                        76518 non-null  int64
 4   Daytime_evening_attendance                    76518 non-null  int64
 5   Previous_qualification                        76518 non-null  int64
 6   Previous_qualification_grade                  76518 non-null  float64
 7   Nacionality                                   76518 non-null  int64
 8   Mother_s_qualification                        76518 non-null  int64
 9   Father_s_qualification                        76518 non-null  int64
 10  Mother_s_occupation                           76518 non-null  int64
 11  Father_s_occupation                           76518 non-null  int64
 12  Admission_grade                               76518 non-null  float64
 13  Displaced                                     76518 non-null  int64
 14  Educational_special_needs                     76518 non-null  int64
 15  Debtor                                        76518 non-null  int64
 16  Tuition_fees_up_to_date                       76518 non-null  int64
 17  Gender                                        76518 non-null  int64
 18  Scholarship_holder                            76518 non-null  int64
 19  Age_at_enrollment                             76518 non-null  int64
 20  International                                 76518 non-null  int64
 21  Curricular_units_1st_sem_credited             76518 non-null  int64
 22  Curricular_units_1st_sem_enrolled             76518 non-null  int64
 23  Curricular_units_1st_sem_evaluations          76518 non-null  int64
 24  Curricular_units_1st_sem_approved             76518 non-null  int64
 25  Curricular_units_1st_sem_grade                76518 non-null  float64
 26  Curricular_units_1st_sem_without_evaluations  76518 non-null  int64
 27  Curricular_units_2nd_sem_credited             76518 non-null  int64
 28  Curricular_units_2nd_sem_enrolled             76518 non-null  int64
 29  Curricular_units_2nd_sem_evaluations          76518 non-null  int64
 30  Curricular_units_2nd_sem_approved             76518 non-null  int64
 31  Curricular_units_2nd_sem_grade                76518 non-null  float64
 32  Curricular_units_2nd_sem_without_evaluations  76518 non-null  int64
 33  Unemployment_rate                             76518 non-null  float64
 34  Inflation_rate                                76518 non-null  float64
 35  GDP                                           76518 non-null  float64
 36  Target                                        76518 non-null  object
dtypes: float64(7), int64(29), object(1)
memory usage: 21.6+ MB

In [29]:
df.columns

Index(['Marital_status', 'Application_mode', 'Application_order', 'Course',
       'Daytime_evening_attendance', 'Previous_qualification',
       'Previous_qualification_grade', 'Nacionality', 'Mother_s_qualification',
       'Father_s_qualification', 'Mother_s_occupation', 'Father_s_occupation',
       'Admission_grade', 'Displaced', 'Educational_special_needs', 'Debtor',
       'Tuition_fees_up_to_date', 'Gender', 'Scholarship_holder',
       'Age_at_enrollment', 'International',
       'Curricular_units_1st_sem_credited',
       'Curricular_units_1st_sem_enrolled',
       'Curricular_units_1st_sem_evaluations',
       'Curricular_units_1st_sem_approved', 'Curricular_units_1st_sem_grade',
       'Curricular_units_1st_sem_without_evaluations',
       'Curricular_units_2nd_sem_credited',
       'Curricular_units_2nd_sem_enrolled',
       'Curricular_units_2nd_sem_evaluations',
       'Curricular_units_2nd_sem_approved', 'Curricular_units_2nd_sem_grade',
       'Curricular_units_2nd_sem_without_evaluations', 'Unemployment_rate',
       'Inflation_rate', 'GDP', 'Target'],
      dtype='object')

In [30]:
# prompt: Gerar codigo usando plottly para gerar um boxplot e um histograma das variaveis do dataframe df, destacando a coluna Target. Colocar em um loop para testar todas as variaveis
'''
for col in df.columns:
  print(df[col].describe())
  print(df[col].value_counts())
  X = df[[col,'Target']]
  fig1 = px.box(X, x = col, color = 'Target')
  fig2 = px.histogram(df, x = col, text_auto = True, color = 'Target', barmode = 'group')
  fig1.show()
  fig2.show()
'''

"\nfor col in df.columns:\n  print(df[col].describe())\n  print(df[col].value_counts())\n  X = df[[col,'Target']]\n  fig1 = px.box(X, x = col, color = 'Target')\n  fig2 = px.histogram(df, x = col, text_auto = True, color = 'Target', barmode = 'group')\n  fig1.show()\n  fig2.show()\n"

In [31]:
x = df.drop('Target', axis = 1)
y = df['Target']

In [32]:
from sklearn.compose import make_column_transformer


one_hot = make_column_transformer((
    OneHotEncoder(drop = 'if_binary'),
    ['Marital_status', 'Application_mode', 'Application_order', 'Course',
       'Daytime_evening_attendance', 'Previous_qualification',
       'Previous_qualification_grade', 'Nacionality', 'Mother_s_qualification',
       'Father_s_qualification', 'Mother_s_occupation', 'Father_s_occupation',
       'Admission_grade', 'Displaced', 'Educational_special_needs', 'Debtor',
       'Tuition_fees_up_to_date', 'Gender', 'Scholarship_holder',
       'Age_at_enrollment', 'International',
       'Curricular_units_1st_sem_credited',
       'Curricular_units_1st_sem_enrolled',
       'Curricular_units_1st_sem_evaluations',
       'Curricular_units_1st_sem_approved', 'Curricular_units_1st_sem_grade',
       'Curricular_units_1st_sem_without_evaluations',
       'Curricular_units_2nd_sem_credited',
       'Curricular_units_2nd_sem_enrolled',
       'Curricular_units_2nd_sem_evaluations',
       'Curricular_units_2nd_sem_approved', 'Curricular_units_2nd_sem_grade',
       'Curricular_units_2nd_sem_without_evaluations', 'Unemployment_rate',
       'Inflation_rate', 'GDP']
),
    remainder = 'passthrough',
    sparse_threshold=0)

In [33]:
x = one_hot.fit_transform(x)

In [34]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)
y

array([2, 0, 0, ..., 1, 0, 2])

In [35]:
from sklearn.ensemble import RandomForestClassifier
from imblearn.pipeline import Pipeline as imbpipeline

In [36]:
x

array([[1., 0., 0., ..., 0., 1., 0.],
       [1., 0., 0., ..., 0., 1., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.]])

In [37]:
from imblearn.under_sampling import NearMiss

modelo = RandomForestClassifier()
pipeline = imbpipeline([('undersample', NearMiss(version=3)), ('modelo', modelo)])

In [38]:
from sklearn.model_selection import StratifiedKFold, cross_validate


skf = StratifiedKFold(n_splits=5, shuffle = True, random_state = 5)
cv_resultados = cross_validate(pipeline, x, y, cv=skf, scoring = 'recall')

/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/imblearn/under_sampling/_prototype_selection/_nearmiss.py:203: UserWarning: The number of the samples to be selected is larger than the number of samples available. The balancing ratio cannot be ensure and all samples will be returned.
  warnings.warn(
/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/model_selection/_validation.py:982: UserWarning: Scoring failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/model_selection/_validation.py", line 971, in _score
    scores = scorer(estimator, X_test, y_test, **score_params)
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/metrics/_scorer.py", line 279, in __call__
    return self._score(partial(_cached_call, None), estimator, X, y_true, **_kwargs)
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/metrics/_scorer.py", line 376, in _score
    return self._sign * self._score_func(y_true, y_pred, **scoring_kwargs)
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/utils/_param_validation.py", line 213, in wrapper
    return func(*args, **kwargs)
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/metrics/_classification.py", line 2385, in recall_score
    _, r, _, _ = precision_recall_fscore_support(
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/utils/_param_validation.py", line 186, in wrapper
    return func(*args, **kwargs)
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/metrics/_classification.py", line 1789, in precision_recall_fscore_support
    labels = _check_set_wise_labels(y_true, y_pred, average, labels, pos_label)
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/metrics/_classification.py", line 1578, in _check_set_wise_labels
    raise ValueError(
ValueError: Target is multiclass but average='binary'. Please choose another average setting, one of [None, 'micro', 'macro', 'weighted'].

  warnings.warn(
/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/imblearn/under_sampling/_prototype_selection/_nearmiss.py:203: UserWarning: The number of the samples to be selected is larger than the number of samples available. The balancing ratio cannot be ensure and all samples will be returned.
  warnings.warn(
/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/model_selection/_validation.py:982: UserWarning: Scoring failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/model_selection/_validation.py", line 971, in _score
    scores = scorer(estimator, X_test, y_test, **score_params)
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/metrics/_scorer.py", line 279, in __call__
    return self._score(partial(_cached_call, None), estimator, X, y_true, **_kwargs)
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/metrics/_scorer.py", line 376, in _score
    return self._sign * self._score_func(y_true, y_pred, **scoring_kwargs)
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/utils/_param_validation.py", line 213, in wrapper
    return func(*args, **kwargs)
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/metrics/_classification.py", line 2385, in recall_score
    _, r, _, _ = precision_recall_fscore_support(
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/utils/_param_validation.py", line 186, in wrapper
    return func(*args, **kwargs)
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/metrics/_classification.py", line 1789, in precision_recall_fscore_support
    labels = _check_set_wise_labels(y_true, y_pred, average, labels, pos_label)
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/metrics/_classification.py", line 1578, in _check_set_wise_labels
    raise ValueError(
ValueError: Target is multiclass but average='binary'. Please choose another average setting, one of [None, 'micro', 'macro', 'weighted'].

  warnings.warn(
/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/imblearn/under_sampling/_prototype_selection/_nearmiss.py:203: UserWarning: The number of the samples to be selected is larger than the number of samples available. The balancing ratio cannot be ensure and all samples will be returned.
  warnings.warn(
/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/model_selection/_validation.py:982: UserWarning: Scoring failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/model_selection/_validation.py", line 971, in _score
    scores = scorer(estimator, X_test, y_test, **score_params)
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/metrics/_scorer.py", line 279, in __call__
    return self._score(partial(_cached_call, None), estimator, X, y_true, **_kwargs)
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/metrics/_scorer.py", line 376, in _score
    return self._sign * self._score_func(y_true, y_pred, **scoring_kwargs)
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/utils/_param_validation.py", line 213, in wrapper
    return func(*args, **kwargs)
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/metrics/_classification.py", line 2385, in recall_score
    _, r, _, _ = precision_recall_fscore_support(
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/utils/_param_validation.py", line 186, in wrapper
    return func(*args, **kwargs)
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/metrics/_classification.py", line 1789, in precision_recall_fscore_support
    labels = _check_set_wise_labels(y_true, y_pred, average, labels, pos_label)
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/metrics/_classification.py", line 1578, in _check_set_wise_labels
    raise ValueError(
ValueError: Target is multiclass but average='binary'. Please choose another average setting, one of [None, 'micro', 'macro', 'weighted'].

  warnings.warn(
/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/imblearn/under_sampling/_prototype_selection/_nearmiss.py:203: UserWarning: The number of the samples to be selected is larger than the number of samples available. The balancing ratio cannot be ensure and all samples will be returned.
  warnings.warn(
/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/model_selection/_validation.py:982: UserWarning: Scoring failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/model_selection/_validation.py", line 971, in _score
    scores = scorer(estimator, X_test, y_test, **score_params)
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/metrics/_scorer.py", line 279, in __call__
    return self._score(partial(_cached_call, None), estimator, X, y_true, **_kwargs)
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/metrics/_scorer.py", line 376, in _score
    return self._sign * self._score_func(y_true, y_pred, **scoring_kwargs)
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/utils/_param_validation.py", line 213, in wrapper
    return func(*args, **kwargs)
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/metrics/_classification.py", line 2385, in recall_score
    _, r, _, _ = precision_recall_fscore_support(
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/utils/_param_validation.py", line 186, in wrapper
    return func(*args, **kwargs)
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/metrics/_classification.py", line 1789, in precision_recall_fscore_support
    labels = _check_set_wise_labels(y_true, y_pred, average, labels, pos_label)
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/metrics/_classification.py", line 1578, in _check_set_wise_labels
    raise ValueError(
ValueError: Target is multiclass but average='binary'. Please choose another average setting, one of [None, 'micro', 'macro', 'weighted'].

  warnings.warn(
/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/imblearn/under_sampling/_prototype_selection/_nearmiss.py:203: UserWarning: The number of the samples to be selected is larger than the number of samples available. The balancing ratio cannot be ensure and all samples will be returned.
  warnings.warn(
/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/model_selection/_validation.py:982: UserWarning: Scoring failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/model_selection/_validation.py", line 971, in _score
    scores = scorer(estimator, X_test, y_test, **score_params)
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/metrics/_scorer.py", line 279, in __call__
    return self._score(partial(_cached_call, None), estimator, X, y_true, **_kwargs)
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/metrics/_scorer.py", line 376, in _score
    return self._sign * self._score_func(y_true, y_pred, **scoring_kwargs)
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/utils/_param_validation.py", line 213, in wrapper
    return func(*args, **kwargs)
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/metrics/_classification.py", line 2385, in recall_score
    _, r, _, _ = precision_recall_fscore_support(
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/utils/_param_validation.py", line 186, in wrapper
    return func(*args, **kwargs)
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/metrics/_classification.py", line 1789, in precision_recall_fscore_support
    labels = _check_set_wise_labels(y_true, y_pred, average, labels, pos_label)
  File "/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/metrics/_classification.py", line 1578, in _check_set_wise_labels
    raise ValueError(
ValueError: Target is multiclass but average='binary'. Please choose another average setting, one of [None, 'micro', 'macro', 'weighted'].

  warnings.warn(

In [39]:
def intervalo_conf(resultados):
    media = resultados['test_score'].mean()
    desvio_padrao = resultados['test_score'].std()
    print(f'Intervalo de confiana: [{media - 2*desvio_padrao}, {min(media + 2*desvio_padrao, 1)}]')

In [40]:
intervalo_conf(cv_resultados)

Intervalo de confiana: [nan, nan]

In [41]:
# Dividir os dados em conjuntos de treinamento e teste
X_train, X_Val, y_train, y_Val = train_test_split(x, y, test_size=0.2, random_state=42)

In [42]:
X_train

array([[1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.]])

In [43]:
y_train

array([2, 0, 2, ..., 2, 2, 2])

In [44]:
#X_train_One = one_hot.fit_transform(X_train)

In [45]:
#one_hot.get_feature_names_out(colunas)

In [46]:
#X_train_One

colums = [ 'Marital status' ,'Application mode' ,'Application order' ,'Course'
        ,'Previous qualification' , 'Debtor',
        'Tuition fees up to date', 'Gender', 'Scholarship holder',
        'Age at enrollment', 'International','Inflation rate', 'GDP',
        "Mother's qualification", "Father's qualification",'Displaced',
        'Educational special needs', 'Debtor']

In [48]:

from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegressionCV

# Define the LogisticRegressionCV model
model = LogisticRegressionCV(cv=5, random_state=42)

model.fit(X_train, y_train)

# Print the best parameters and best score
print("Best score:", model.score)

/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/marcellofelipelli/Documents/DataAnalyticsPortfolio/venv/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Best score: <bound method LogisticRegressionCV.score of LogisticRegressionCV(cv=5, random_state=42)>

In [49]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import ConfusionMatrixDisplay

y_previsto = model.predict(X_trainn)
matriz_confusao = confusion_matrix(y_train, y_previsto)
print(matriz_confusao)

NameError: name 'X_trainn' is not defined

In [ ]:
visualizacao = ConfusionMatrixDisplay(confusion_matrix = matriz_confusao)
visualizacao.plot();

numerical_features = ['Previous qualification (grade)',"Admission grade","Displaced","Educational special needs","Debtor"
 ,"Gender","Tuition fees up to date","Scholarship holder","International"
 ,"Curricular units 1st sem (credited)", "Curricular units 1st sem (enrolled)"
 ,"Curricular units 1st sem (evaluations)", "Curricular units 1st sem (approved)"
 ,"Curricular units 1st sem (grade)", "Curricular units 1st sem (without evaluations)"
 ,"Curricular units 2nd sem (credited)", "Curricular units 2nd sem (enrolled)"
 ,"Curricular units 2nd sem (evaluations)", "Curricular units 2nd sem (approved)"
 ,"Curricular units 2nd sem (grade)", "Curricular units 2nd sem (without evaluations)"
 ,"Unemployment rate", "Inflation rate","GDP"]

categorical_features = ['Marital status'
 ,'Application mode'
 ,'Application order'
 ,'Course'
 ,'Previous qualification'
 ,'Nacionality'
 ,"Mother's qualification"
 ,"Father's qualification"
 ,"Mother's occupation"
 ,"Father's occupation"
 ,"Age at enrollment"
 ]

print(numerical_features)
print(categorical_features)

In [ ]:
# prompt: Gerar codigo para treinamento utilizando o gridsearch baseado em LogisticRegressionCV, buscando melhor acurcia

from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegressionCV

# Define the LogisticRegressionCV model
clf = LogisticRegressionCV(cv=5, random_state=42)

# Define the parameter grid
param_grid = {
    'penalty': ['l1', 'l2', 'elasticnet', 'none'],
    'Cs': [0.001, 0.01, 0.1, 1, 10, 100],
    'solver': ['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga'],
    'max_iter': [1, 3, 5, 10]
}

# Perform GridSearchCV
grid_search = GridSearchCV(clf, param_grid, scoring='accuracy', cv=5)
grid_search.fit(X_train_One, y_train_lbl)

# Print the best parameters and best score
print("Best parameters:", grid_search.best_params_)
print("Best score:", grid_search.best_score_)

In [ ]:
# Train the model with the best parameters
clf = LogisticRegressionCV(cv=5, **grid_search.best_params_)
clf.fit(X_train_One, y_train_lbl)

# Evaluate the model on the test set
y_pred = clf.predict(X_test)
accuracy = accuracy_score(y_train_lbl, y_pred)
print("Test accuracy:", accuracy)

In [ ]:
import joblib

joblib.dump(model, 'model_logistic.joblib')

In [ ]:
# Exemplo de novos dados para previso
df_test = pd.read_csv('/content/test.csv')

df_test.head()

In [ ]:
df_test.isnull().sum()

In [ ]:
df_test.fillna(df_test.median(), inplace=True)

In [ ]:
X = df_test.copy()

In [ ]:
# Carregar o modelo salvo
model = joblib.load('model_logistic.joblib')

In [ ]:
X['Ind_Target'] = None

In [ ]:

# Fazer previses com o modelo carregado
X['Ind_Target'] = model.predict(X)